
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@*<form action="http://www.hinet.net" method="post">*@
<form action="/User/Login" method="post">
    User: <input type="text" name="username" /><br />
    Password: <input type="password" name="password" /><br />
    <input type="submit" value="登入" />
</form>


